html {
  box-sizing: border-box;
  font-size: 16px;
}

*, ::after, ::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  border: 2px solid white;
  border-radius: .5rem;
  display: inline-block;
  padding: .5rem;
  text-decoration: none;
  color: white;
  transition: color .25s ease, border-color .50s ease;
}

a:hover {
  border-color: burlywood;
  color: burlywood;
}

body {
  height: 100vh;
  background-color: rgb(41, 40, 40);
  color: whitesmoke;
}

.loader {
  width: 80px;
  height: 80px;
  border: 10px solid transparent;
  border-bottom-color: rgb(255, 194, 25);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }

