.about_bad_jokes_page {
  user-select: none;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .about_bad_jokes_container {
    h1 {
      text-align: center;
      padding: 1rem;

      span {
        cursor: pointer;
        background: linear-gradient(
            to right,
            rgb(65, 153, 38),
            rgb(212, 171, 21)
          ),
          linear-gradient(
            to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1)
          );
        background-size: 100% 3px, 0 3px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms;
      }

      span:hover {
        background-size: 0 3px, 100% 3px;
      }
    }

    p {
      text-align: center;
      padding: 1rem;
      margin-bottom: 1rem;
    }

    .back_to_bad_jokes_page {
      display: flex;
      justify-content: center;
    }
  }
}
